:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: rgb(81, 16, 2);
  color: white;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

h1 {
  margin: 1rem;
  color: rgb(231, 98, 45);
  text-shadow: 0 0 3px black, 0 0 5px black;
}

div {
  display: flex;
  width: auto;
  align-content: center;
  flex-wrap: nowrap;
  border-bottom: 5px solid rgb(231, 98, 45);
  margin-bottom: 1rem;
}

li {
  list-style: none;
  margin: 1rem;
  color: rgb(242, 198, 88);
  margin-left: -0.1rem;
  text-shadow: 0 0 3px black, 0 0 5px black;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  text-shadow: 0 0 3px black, 0 0 5px black;
}

img {
  display: flex;
  align-content: center;
  height: auto;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.releaseDate {
  font-size: 0.75rem;
}
